<% cities = ["Bristol", "Nappanee", "Granger", "Niles", "Edwardsburg", "Osceola", "Elkhart",
             "South Bend", "Middlebury", "Wakarusa", "Mishawaka"] %>
<div>
  <h1>Michiana's home for bounce house rentals</h1>
  Playtime Jumpers is a family owned and operated inflatable bounce house
  rental company. Located between Elkhart and Granger, our service areas include:</br>
  <ul>
    <% cities.each do |c| %>
      <li><%= c %></li>
    <% end %>
  </ul>
  We specialize in providing bounce houses, jumpers, bouncer/slides and 
  slip-n-slides for your backyard parties. We are your #1 source for family
  fun parties, family reunions, company picnics or church events. Let us 
  provide your children with hours of safe and active fun at your next event
  <h3>Quality, safe, and affordable fun for all</h3>
  We provide only quality, affordable bouncy castles. We are a family-owned and
  operated company looking forward to providing your friends and family a safe
  but eventful party or event. For all your party needs, we can provide a fun
  and exciting addition. Great customer service along with a great bouncer design
  guarantee at top notch party.
  <h3>Bouncers, jumpers, bounce houses, moonwalks</h3>
  We have several designs to choose from. Whether your child is into sports,
  dreaming of living in a castle in a far away land, just wanting to monkey
  around, slide out of a hot air balloon, or fly down a water soaker 
  slip-n-slide we have the moonwalk for you.
</div>
<address>
  <a href="mailto:info@playtimejumpers.com">Email: info@playtimejumpers.com</a>
Phone: (574)383-9547</address>
